@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kitty Shop</h1>
    <p>meow</p>




    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <p><b>Lemon</b></p>
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="img_1.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Freshly rolled in from the sunny side of Meowtown! Perfect for those classy cats looking to add a pop of citrus to their day. Whether you're feeling fancy or just need a little zing, these lemons are the purr-fect choice. Don’t miss out—add some zest to your nest today!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success">Add to cart</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <p><b>Weapon</b></p>
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="img_2.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Sharpen your hunting instincts with Meowtown’s finest weapon selection! From feather-light swat sticks to precision scratching posts, we've got gear for every fierce feline warrior. Protect your territory, chase off pesky critters, or simply look pawsitively powerful. Arm yourself today—because every cat deserves a little claw power!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success">Add to cart</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <p><b>Mushroom</b></p>
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="img_3.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Boost your nine lives with the finest fungi in Meowtown! These paw-picked mushrooms come in every shape, size, and sprinkle of mystery flavor—perfect for curious kitties and adventurous taste buds. From a hint of earthy to a splash of wild, our mushrooms bring that extra meow-gic to your meals. Grab a bunch today... because every cat deserves a little extra purr-spective!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success">Add to cart</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            

          </div>
        </div>
      </div>
</div>
